html,
body,
.full-screen {
    height: 100%;
}

body {
    margin: 0;
}
body {
    background: green;
    margin: 0;
    padding 5px;
    color: white;
}

.full-screen {
    display: flex;
    flex-direction: column;
}
header {
    background: black;
    width: 100%;
    height: auto;
}

section {
    width: 100%;
    background: #013220;
    overflow: auto;
    text-align: center;
}

.view {
    width: 90%;
}
p, h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
.logo {
    width: 40%;
}
@media only screen and (max-width : 640px) {
    .logo {
        width: 60%;
    }
}