html, body, main {
    height: 100%;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
main {
    background-image: var(--background-pic);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    z-index: 100;
    box-sizing: border-box;
}

section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    box-sizing: border-box;
}
.view {
    top: 450px;
    left: 350px;
    background: rgba(255,255,255,0.3);
    width: 250px;
    height: 350px;
    position: absolute;
    backdrop-filter: blur(5px);
    color: white;
}
div:before{
    content: “ ”;
    background: inherit; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
    filter: blur(10px);
}
